
{%load static%}
{% load socialaccount %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Treasure Hunt</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload" >
		{%if request.user.is_authenticated%}
		<div class="signout" >
			<img onclick="show_side_bar(this)" src={{ request.user.socialaccount_set.all.0.get_avatar_url }}>
			
		</div>
		<div id="sidebar" class="sidebar">
			<a>{{request.user.profile.nick_name | title}}</a>
			<a href="{%url 'user_profile:redirect'%}">Rules</a>
			<a class="logout_button" href="{% url 'user_profile:logout'%}">Logout</a>
			
		</div>
		{%endif%}
		<!-- Wrapper -->
			<div id="wrapper"  class="fade-in" onclick="show_side_bar(this)">

				<!-- Intro -->
					<div id="intro">
						<h1>ENIGMA</h1>
						<p>An Online Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque iusto rem porro ex voluptate provident tenetur, voluptatem, itaque necessitatibus doloribus vitae error possimus, expedita culpa totam quae nostrum praesentium sit?</p>

						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a  class="logo">LocalHost</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{%url 'home' %}">Home</a></li>
							{%if request.user.is_authenticated%}
							<li><a href="{%url 'user_profile:redirect' %}" >Let's start</a></li>
							{%else%}
							<li><a href="{% provider_login_url 'google' %}" >Let's start</a></li>
							{%endif%}
							<li><a href="{%url 'user_profile:lead' %}">Leader board</a></li>
							</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									
									<h2>Before you go!</h2>
									<p>On Halloween 1968, Stella and her two friends meet a mysterious drifter, Ramón, and uncover a sinister notebook of stories.I warned them but they didn't listen.Complete every question </p>
								</header>
							
								{%if not request.user.is_authenticated%}
								<ul class="actions special">
									<li><a href="{% provider_login_url 'google' %}" class="button large">Login</a></li>
								</ul>
								{%else%}
								<ul class="actions special">
									<li><a href="{% url 'user_profile:redirect' %}" class="button large">Continue</a></li>
								</ul>
								{%endif%}
							</article>





			</div>

		<!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
	<script >

	</script>

	</body>
</html>