{% load static %}
{% load socialaccount %}
<!DOCTYPE HTML>
<html>
<head>
  <title>Treasure Hunt</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
  <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/>
  </noscript>
</head>
<body class="is-preload">

  {%if request.user.is_authenticated%}
  <div class="signout" >
    <img onclick="show_side_bar(this)" src={{ request.user.socialaccount_set.all.0.get_avatar_url }}>
    
  </div>
  <div id="sidebar" class="sidebar">
    <a>{{request.user.profile.nick_name | title}}</a>
    <a href="{%url 'user_profile:redirect'%}">Rules</a>
    <a class="logout_button" href="{% url 'user_profile:logout'%}">Logout</a>
    
  </div>
  {%endif%}
<div id="wrapper" class="fade-in" onclick="show_side_bar(this)">

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>



  <!-- Header -->
  <header id="header">
    <a class="logo">Enigma</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if has_started %}
        <li><a href="{% url 'game:quiz' %}">{{ text }}</a></li>
      {% else %}
      {%if request.user.is_authenticated%}
      <li><a href="{%url 'user_profile:redirect' %}" >Let's start</a></li>
      {%else%}
      <li><a href="{% provider_login_url 'google' %}" >Let's start</a></li>
      {%endif%}
      {% endif %}
      <li class="active"><a href="#">Leader board</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Featured Post -->
    <article class="post featured">
      <header class="major">

        <h2>Table Toppers</h2>
      </header>
      <ol>
        {% for profile in profiles %}
          <li class="leader-r"><span
                  class="name"><b> {{ profile.nick_name | title}}</b> </span><span>{{ profile.marks }}</span></li>
        {% endfor %}
      </ol>


    </article>


  </div>

  <!-- Scripts -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
